*{
    margin: 0;
    padding: 0;
}

.nav_cell{
    display: flex; 
    justify-content:left;
    align-items: self-start;
    margin: 5px;
    padding: 2px;
}

#header{
    font-size: 30px;
    background: -webkit-linear-gradient(#dc4a4a, #900606);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav_icon{
display: flex;
justify-content: flex-end;
align-items: flex-end;
}
